<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Memory Game</title>
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

  <body class="bg-light">
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <h1>Memory Game</h1>
      </header>

      <main class="container" style="min-height: 850px">
        <div class="row">
          <div id="controls" class="col" style="display: flex; margin-bottom: 20px; justify-content: space-between"> </div>
        </div>
        <div class="container" id="game-field">
          <p class="col-md-8 fs-4">Это игра, в которой вам нужно угадать пару одинаковых карточек. Угаданные карточки становятся зелеными. Игра продолжается до тех пор, пока не будут угаданы все карточки.</p>
          <button class="btn btn-primary btn-lg" type="button" id="start-game">Начать игру</button>
        </div>

      </main>
      <footer class="bg-light text-center text-lg-start">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <p class="text-uppercase">Проект подготовлен для благотворительного хакатона</p>

            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">

              <a href="https://github.com/jun-hackaton-team-5/memory-game">Исходный код</a>
            </div>
          </div>
        </div>

        <div class="text-center p-4 text-dark">
          © 2023 Copyright:
          <a class="text-reset fw-bold" href="https://jun-hackaton-landing.vercel.app/">Jun Hakaton</a>
        </div>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
  </body>
  <script src="./game.js">
  </script>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      document.querySelector('#start-game').addEventListener('click', () => {
        startGame();
      });
    });
  </script>

</html>
